a {
    text-decoration: none;
    color: black;
}

#flujogramas {
    text-align: center;
    background-color: grey;
}

#aritmeticas {
    text-align: center;
    background-color: lightseagreen;
}

#temperatura {
    text-align: center;
    background-color: grey;
}

#calculodias {
    text-align: center;
    background-color: lightseagreen;
}
#sumaprom {
    text-align: center;
    background-color: grey;
}